<%- include('../partials/header') %>

<div class="card mt-3">
    <div class="card-body">
        <div class="row mx-0 mt-2">
            <div class="col-3">
                <a href="/education/add?year=2024&doc_id=-1" class="btn btn-primary btn-block">New Document</a>
            </div>
            <div class="col-3 offset-6">
                <input type="text" placeholder="Search..." class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <div class="card-title">
            <h3>Education</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row mx-0 mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th></th>
                                <th>Year</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>